*{
    margin:0;
    padding:0;
}

body{
    font-family:Arial,sans-serif;
    background-color:#f0f4f8;
    display:flex;
    justify-content:center;
    align-items:center;
    height:50vh;
    
}

/* Tarjeta principal */
.tarjeta{
    width:400px;
    background-color:rgba(255,255,255,0.9);
    opacity:0.9;
    padding:20px;
}

/* Uso de display:flex */
.datos{
    display:flex;
    margin-top:20px;
    margin-bottom:20px;
}

.linea{
    width:5px;
    height:80px;
    background-color:#7d8dff;
    margin-right:15px;
}

/* scale() */
h1{
    color:#7d8dff;
    transform:scale(1.1);
}

p{
    margin-top:14px;
}

/* Botón */
a{
    color:#f0f4f8;
    text-decoration:none;
    font-weight:bold;
    padding:12px 24px;
    background-color:black;
    display:block;
    text-align:center;
    margin-top:20px;
    transition:0.3s;
}

/* hover + transition */
a:hover{
    background-color:#b48e7d;
}

/* translate() */
.tarjeta{
    transform:translate(20px,10px);
}